include ./modal.pug
include ./list-checkbox.pug
include ./list-color.pug
include ./dropFilterAdvanced.pug
mixin sort-filter(keyDefault="")
    -arr = [{title:"人気順（1000件まで）",key:"ranking"},{title:"新着順",key:""},{title:"価格が安い順",key:"price-low"},{title:"価格が高い順",key:"price-high"}]
    div(class="sort-button relative  lg:min-w-[16rem] basis-1/2")
        button(class="flex gap-3 text-[1rem] lg:text-[1.4rem] font-bold justify-center items-center p-[0.8rem_1.2rem] w-full bg-[#ebebec] rounded-[0.4rem]")
            img(src="../images/sort.svg" alt="sort")
            span(class=" ") 商品カテゴリ順
        div(class="hidden list-sort")
            ul(class="sort-list absolute bg-[#ebebec] z-[2] rounded-[0_0_0.4rem_0.4rem]  flex flex-col gap-[1.2rem] left-0 p-[1.2rem] top-full w-full ")
                each item,index in arr
                    li(class="sort-item " key=`${item.key}`)
                        button(class="flex  w-full   gap-[1.4rem]")
                            span(class=`active-sort-list ${sortQuery == item.key ? 'visible' : 'invisible'}`)
                                img(src="../images/success.svg" alt="success")
                            span(class="text-[1.2rem] text-left") #{item.title}
mixin filter-advanced(sizes=[],colors=[],listSizeTexts=[],listColorTexts=[],priceMin=0,priceMax=0)
    div(class="filter-button relative lg:min-w-[16rem] basis-1/2")
        button(class="button-filter flex gap-3  text-[1rem] lg:text-[1.4rem] font-bold justify-center items-center p-[0.8rem_1.2rem] w-full bg-[#ebebec] rounded-[0.4rem]")
            img(src="../images/filter.svg" alt="filter")
            span(class=" ") 条件で絞り込む
        +modal-custom("条件で絞り込む")
            div(class="box-alert text-left text-red-500 h-0 transition-[height] duration-200 overflow-hidden")
                p(class="mb-3 text-[1.6rem]") 
            div(class="filter-advance-main border-t")
                +drop-menu-advanced("サイズ")
                    +list-checkbox(sizes,listSizeTexts,"サイズ:","sizeTexts")
                +drop-menu-advanced("カラー")
                    +list-color(colors,listColorTexts,"colorTexts")
                div(class="filter-price")
                    div(class=" flex flex-row justify-between border-b")
                        div(class="basis-3/12 flex p-[2rem_1.5rem] justify-between items-center")
                            span(class="text-[1.4rem] font-bold") 価格帯
                        div(class='basis-9/12 flex items-center gap-6')
                            div(class="flex flex-row gap-6 h-[3.5rem] overflow-hidden items-center w-full")
                                input(type="number" min=0 max=100000000 value=priceMin class="input-price-min px-4 text-[1.3rem] border outline-none rounded-lg w-full h-full input-min-price" )
                                span(class="text-[1.4rem] font-bold") 円〜
                            div(class="flex flex-row gap-6 h-[3.5rem] overflow-hidden items-center w-full")
                                input(type="number" min=0 max=100000000 value=priceMax class="input-price-max px-4 text-[1.3rem] border outline-none rounded-lg w-full h-full input-max-price" )
                                span(class="text-[1.4rem] font-bold") 円
                +drop-menu-advanced("価格タイプ")
                    +list-checkbox(["SALE","いっしょ割","期間限定価格","アウトレット","よりどり","まとめ買い"],[],"","priceTypes")
            div(class="modal-button-submit flex items-center justify-center gap-[2.4rem] mt-[2.4rem]")
                button(class="p-[1.5rem_1.9rem] bg-white text-main border text-[1.6rem] font-[700] rounded-md flex justify-center items-center w-[24rem]")
                    span() 条件をクリア
                button(class="button-submit-form p-[1.5rem_1.9rem] bg-black text-white  text-[1.6rem] font-[700] rounded-md flex justify-center items-center w-[24rem]")
                    span() 絞り込む           

                
                         
                        