mixin search-menu(data, idSearch=0,keyword="")
    -let findTitle = data.find(item => item.id === idSearch)?.title
    div(class=" search-menu flex items-center z-[99] h-full box-full-blur relative w-auto my-0 mx-auto flex-1 m-0 min-h-0 md:min-h-[6.9rem] p-0 md:p-[0_0_0_1.5rem] xl:w-full xl:min-h-full xl:p-0")
        div(class="fixed blur-full left-0 top-0 w-0 bg-[#00000080] block min-h-[100vh] z-[98]  transition-all ")
        div(class="w-full p-0 relative z-[99] top-0  xl:p-[1rem]")
            span(class=" bg-white   text-main flex flex-row items-center px-[1rem] pt-3 pb-3 md:pb-[1.9rem] md:py-[1.9rem] md:px-[2rem]")
                span(class="select-blur cursor-pointer flex-col  h-full border-t border-l border-b border-[#f2f2f2] rounded-tl-[0.4rem] rounded-bl-[0.4rem]  py-[0.4rem] basis-[30%]  lg:basis-[10%]")
                    span(class="px-5 inline-flex items-center justify-between h-full w-full overflow-hidden")    
                        span(class="text-[1.2rem] active-select ellipsis") #{findTitle || 'すべて'}
                        i(class="arrow-down text-[1rem] text-main-50")
                            <svg viewBox="0 0 1024 1024" class="" data-icon="caret-down" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false"><path d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z"></path></svg>
                        i(class="arrow-up hidden text-[1rem] text-main-50")
                            <svg viewBox="0 0 1024 1024" class="" data-icon="caret-up" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false"><path d="M858.9 689L530.5 308.2c-9.4-10.9-27.5-10.9-37 0L165.1 689c-12.2 14.2-1.2 35 18.5 35h656.8c19.7 0 30.7-20.8 18.5-35z"></path></svg>
                span(class="leading-[1.8]  inline-block h-full border border-[#f2f2f2]  rounded-tr-[0.4rem] rounded-br-[0.4rem]   py-[0.4rem] basis-[70%] lg:basis-[90%]")
                    span(class="inline-flex items-center justify-between h-full w-full overflow-hidden")
                        input(type="text" id-main-category = 0 value=keyword class="search-box input-full-blur text-main-100 w-full outline-none px-3 placeholder:leading-4 placeholder:tracking-wide" placeholder="キーワードで探す")
            div(class="absolute z-[99] hidden  box-search-overlay   overflow-hidden w-full   transition-all duration-1 ease-in-out pr-0 xl:pr-[2rem]")
                div(class="bg-white px-[2rem]")
                    ul(class="max-h-[87rem] overflow-y-auto")
                        li(class="list-category-item-main pb-3 border-b")
                            div(class="")
                                div(class="text-main  text-[1.5rem] font-bold ] p-[2rem_0rem]") 関連カテゴリー
                                ul(class="items-category-search")
                                    li(class=" hidden p-[2rem_1.5rem] hover:bg-[#f2f2f2] cursor-pointer transition-all list-empty text-center")
                                        div(href = "#" class="hover:text-main block text-main mt-[0.7rem]  text-[1.4rem] font-semibold") 
                                    li(class="p-[2rem_1.5rem] transition-all list-empty text-center")
                                        div(href = "#" class="block text-[#00000073]   text-[1.4rem] ") データがありません
                                
                        li(class="list-product-item pb-3")
                            div(class="")
                                div(class="text-main  text-[1.5rem] font-bold  p-[2rem_0rem]") アイテム
                                ul(class="items-product-search")
                                    li(class="hidden p-[2rem_1.5rem] hover:bg-[#f2f2f2] cursor-pointer transition-all")
                                        a(class="item-product")
                                            div(class="flex flex-row items-center gap-[1.5rem] text-[1.4rem]")
                                                div(class="item-product-img size-[6rem] object-cover")
                                                div(class="item-product-title text-[1.4rem]  text-main-400 ml-[1rem] w-[30%]")
                                    li(class="p-[2rem_1.5rem] transition-all list-empty text-center")
                                        div(href="#" class="block text-[#00000073]  text-[1.4rem] ") データがありません
            div(class="lg:basis-2/12 basis-3/12")
            div(class="lg:basis-10/12 basis-9/12")                     
            div(class="absolute z-[99] categories-full-blur  min-h-[15rem]  overflow-hidden w-full  hidden transition-all duration-1 ease-in-out pr-0 xl:pr-[2rem] ")
                div(class="bg-white")
                    div(class="pr-[1.3rem] py-[0.8rem] text-[1.2rem]")
                        div(class="flex flex-wrap flex-col xl:flex-row items-center justify-start rounded-[0.4rem] ")

                            div(id-category = 0 title ="すべて" class=` ${idSearch === 0 ? 'active-blur' : ''}  item-categories  basis-[100%]  flex flex-row gap-3 items-center justify-start cursor-pointer hover:bg-[#f2f2f2] py-[0.8rem] pl-[1.5rem] pr-[1.3rem] font-bold text-main w-full xl:w-auto xl:basis-[25%]`)
                                    div(class=" hidden")
                                        i(class="")
                                            <svg viewBox="64 64 896 896" class="" data-icon="check" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false"><path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 0 0-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path></svg>
                                    div(class="") すべて
                            each item,index in data
                                div(id-category = item.id title =item.title class=` ${idSearch === item.id ? 'active-blur' : ''} item-categories   basis-[100%]  flex flex-row gap-3 items-center justify-start cursor-pointer hover:bg-[#f2f2f2] py-[0.8rem] pl-[1.5rem] pr-[1.3rem] font-bold text-main w-full xl:w-auto xl:basis-[25%]`)
                                    div(class=" hidden")
                                        i(class="")
                                            <svg viewBox="64 64 896 896" class="" data-icon="check" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false"><path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 0 0-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path></svg>
                                    div(class="") #{item.title}